.gcloudignore
.git
.gitignore
**/node_modules/
**/node_modules/**
**/.next/
**/out/
npm-debug.log
.npm
.DS_Store
.cache
.codeoss
.config
.docker
.gemini
.vscode
.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
public-next
public-next_reparado
public
README-cloudshell.txt
*.swp
backend/config/key.json
backend/config/service-key.json
**/.env
**/backend/.env
