@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 3, 5, 7;
  --background-end-rgb: 3, 5, 7;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #030507;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Scrollbar de Lujo */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #555; }
